<h1>State</h1>
<table class="table">
  <thead class="thead-dark">
    <th scope="col">State</th>
    <th scope="col">District</th>
    <th scope="col">Taluka</th>
    <th scope="col">Action</th>
  </thead>
  <tbody id="states">
    <% @states.each do |state| %>
      <%= render partial: 'row', locals: {state: state }%>
    <% end %>
  </tbody>
</table>
<%= link_to "Create New Record ", new_state_path, remote: true, class: "btn btn-outline-success" %>
<li><%= link_to "Next page", states_path(page: @page + 1) %></li>
<li><%= link_to "Previous page", states_path(page: @page - 1) %></li>
<div id="state_form"></div>
      